<div class='main-content'>
<h2 class='greeting'>Free hi-res stock images for both personal & commercial use.</h2>
	
<ul class='optionsnavi'>
	<li class='dropdown'>
		<button class='dropbtn'>
			Sort By <i class="fa fa-sort-desc" aria-hidden="true"></i>
		</button>
			<div id='myDropdown' class='dropdown-content'>
				<%= link_to "Latest", :sort => "created_at asc" %>
				<%= link_to "Oldest", :sort => "created_at desc" %>
			</div>
	</li>
	<li class='sizetoggle'>
		<button type='button' class='single-img'>
			<i class="fa fa-bars fa-2x active" aria-hidden="true"></i>
		</button>
		<button type='button' class='multi-img'>
			<i class="fa fa-th-large fa-2x inactive" aria-hidden="true"></i>
		</button>
	</li>
</ul>
	
<div class='photo_section single'>
	<% @pictures.each do |picture| %>
		<div class='imageauthor'>
			<%= image_tag picture.image_url.url, class: "fullimg" %>
			<ul class='aboutsection'>
				<li>Photo by <%= link_to "#{picture.user.first_name} #{picture.user.last_name}", 
					user_path(picture.user) %> / <%= link_to "Download", root_path %>
					<span class= "likefunction">
						<% if picture.likes.where(user: current_user).any? %>
							<%= button_to picture_like_path(picture.likes.where(user: current_user), picture.id), method: :delete, remote: true, class: "likethisphoto" do %>
								<%= picture.likes.count %>
								<i class="fa fa-heart-o" aria-hidden="true"></i>
							<% end %>
						<% else %>
							<%= button_to picture_likes_path(picture), remote: true, class: "likethisphoto" do %>
								<%= picture.likes.count %>
								<i class="fa fa-heart-o" aria-hidden="true"></i>
							<% end %>
						<% end %>
					</span>
				</li>
			</p>
		</div>
	<% end %>
</div>