<div class='headerbrand'>
	<div class='brand'>
		<%= link_to image_tag("http://goo.gl/hqYEue"), root_path %>
	</div>
</div>

<div class='landing-navbar'>
	<ul>
		<li class='first-half'><%= link_to "Submit", root_path %> </li>
		<li class='first-half'><%= link_to "License", root_path %> </li>
		<li class='last-part'><%= link_to "Log in", root_path %> </li>
		<li class='last-part'><%= link_to "Sign up", root_path %></li>
	</ul>
</div>

<div class='main-content'>
	<h1>Free hi-res stock images for both personal & commercial use.</h1>

	<div class='image-display'>
		
	</div>
</div>