<!DOCTYPE html>
<html>
<head>
  <title>Vastpic</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='headerbrand'>
	<div class='brand'>
		<%= link_to image_tag("http://goo.gl/hqYEue"), root_path %>
	</div>
</div>

<div class='navbar'>
	<ul class='nav navbar-nav'>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to "Submit", new_picture_path(@picture) %></li>
		<li><%= link_to "License", license_path %></li>
	</ul>
	<div class='navbar-right'>
		<ul class='nav navbar-nav'>
			<% if user_signed_in? %>
				<li class='welcomemsg'><%= link_to "Welcome #{current_user.first_name} #{current_user.last_name}", user_path(current_user)%></li>
				<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "Log in", new_user_session_path %></li>
				<li><%= link_to "Sign up", new_user_registration_path %></li>
			<% end %>
		</ul>
	</div>
</div>

<div class='container'>
   <% flash.each do |key, message| %>
     <div class='alert alert-<%= key %>'>
       <%= message %>
     </div>
   <% end %>
 </div>
	
<%= yield %>

</body>
</html>
